---
import * as interfaces from "@/lib/interfaces.ts";
import { getCurrentHeadings } from "@/lib/blog-helpers.ts";
import { getNotionColorToTailwindColor } from "@/utils/style-helpers";
import type { TocItem } from "@/utils";

export interface Props {
	block: interfaces.Block;
	setId?: boolean;
}

const { block, setId = true } = Astro.props;
const currentHeadings = getCurrentHeadings() as TocItem[] | null;
const tableOfContents = block.TableOfContents!;
---

{
	currentHeadings && (
		<div class="table-of-contents no-rss" id={setId ? block.Id : undefined}>
			{currentHeadings.map((heading) => {
				let indentClass = "";
				if (heading.depth === 2) {
					indentClass = "pl-6";
				} else if (heading.depth === 3) {
					indentClass = "pl-12";
				} else if (heading.depth === 4) {
					indentClass = "pl-[4.5rem]";
				}

				return (
					<a
						href={`#${heading.slug}`}
						class:list={[
							"table-of-contents block leading-7 transition-[text-shadow] duration-150 ease-out hover:[text-shadow:0.4px_0_0_currentColor,-0.4px_0_0_currentColor]",
							indentClass,
							{
								[`${getNotionColorToTailwindColor(tableOfContents.Color)} rounded-sm px-1`]:
									tableOfContents.Color &&
									!["default", "default_background", "default-background"].includes(
										tableOfContents.Color,
									),
							},
						]}
						aria-label={`Jump to section: ${heading.text}`}
					>
						{heading.text}
					</a>
				);
			})}
		</div>
	)
}
