---
export interface Props {
	url: URL;
	caption: string | undefined;
}

const { url } = Astro.props;
---

<a href={url.toString()} data-pin-do="embedPin"></a>

<script is:inline type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"
></script>
