---
import { getImage } from "astro:assets";
import type { Post } from "@/lib/interfaces";
import { getNotionImage } from "@/lib/blog-helpers";

interface Props {
	post: Post;
}

const { post } = Astro.props;
const icon = post.Icon;
const emoji = icon && "Emoji" in icon ? icon.Emoji : "";
const iconUrl = icon && "Url" in icon ? icon.Url : "";

// Raw raster imports are not emitted to dist.
let image = "";

try {
	const downloadedIcon = iconUrl ? await getNotionImage(new URL(iconUrl)) : null;
	if (downloadedIcon) {
		image = (await getImage({ src: downloadedIcon, width: 48 })).src;
	}
} catch {}
---

{
	emoji ? (
		<span data-pagefind-meta="page_icon_emoji" data-pagefind-ignore hidden aria-hidden="true">
			{emoji}
		</span>
	) : image ? (
		<span
			data-pagefind-meta="page_icon_image[data-pagefind-icon-url]"
			data-pagefind-icon-url={image}
			data-pagefind-ignore
			hidden
			aria-hidden="true"
		/>
	) : null
}
{/* Keep Pagefind titles free of the site-name suffix. */}
<span data-pagefind-meta="title" data-pagefind-ignore hidden aria-hidden="true">{post.Title}</span>
